.section.section-comments
  .container
    .row
      .col-md-8.ml-auto.mr-auto
        .media-area
          %h3.title.text-center 3 Comments
          .media
            %a.pull-left{:href => "#pablo"}
              .avatar
                -#%img.media-object.img-raised{:alt => "Tim Picture", :src => "../assets/img/michael.jpg"}/
            .media-body
              %h5.media-heading
                John Camber
                %small.text-muted · Yesterday
              %p Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.
              %p Don't forget, You're Awesome!
              .media-footer
                %a.btn.btn-primary.btn-neutral.pull-right{:href => "#pablo", :rel => "tooltip", :title => "Reply to Comment"}
                  %i.now-ui-icons.ui-1_send
                  Reply
                %a.btn.btn-danger.btn-neutral.pull-right{:href => "#pablo"}
                  %i.now-ui-icons.ui-2_favourite-28
                  25
        %h3.title.text-center Post your comment
        .media.media-post
          %a.pull-left.author{:href => "#pablo"}
            .avatar
              -#%img.media-object.img-raised{:alt => "64x64", :src => "../assets/img/olivia.jpg"}/
          .media-body
            %textarea.form-control{:placeholder => "Write a nice reply or go home...", :rows => "4"}
            .media-footer
              %a.btn.btn-primary.pull-right{:href => "#pablo"}
                %i.now-ui-icons.ui-1_send
                Reply