.page-header.page-header-small
  .page-header-image{"data-parallax" => "true", :style => "background-image: url('#{story_cover_photo_url(@story)}') ;"}
  .content-center
    .row
      .col-md-8.ml-auto.mr-auto.text-center
        %h2.title
          = @story.title
        %h4
          Something more about this Story.
.section
  .container
    .row
      .col-md-12
        .button-container
          = link_to like_story_path(@story), class: 'upvote-btn btn btn-primary btn-round btn-lg', method: :put, remote: true do
            %i.now-ui-icons.ui-2_like
            %span.likes-count= @story.get_upvotes.size
          %a.btn.btn-icon.btn-lg.btn-twitter.btn-round{:href => "#share"}
            %i.fa.fa-twitter
          %a.btn.btn-icon.btn-lg.btn-facebook.btn-round{:href => "#share"}
            %i.fa.fa-facebook-square
          %a.btn.btn-icon.btn-lg.btn-google.btn-round{:href => "#share"}
            %i.fa.fa-google