.content
  .row
    .col-md-12
      .card
        .card-header
          %h4.card-title Edit Creation
          %hr
        .card-body
          = form_with model: @creation, html: {class: 'creation_form'} do |form|
            = render partial: 'form', object: form