.content
  .row
    .col-md-4
      .card
        .card-header
          %h5.title
            Stats
          %hr
    .col-md-8
      .card
        .card-header
          %h5.title
            Overview
            %small.text-muted
              You have #{@creations.count} Creations.
          %hr
