.section
  = render partial: 'sub_nav_pills'
  -#= render partial: 'creations/popup_creations', locals: { creations: @creations }
  = render partial: 'creations/creations', locals: { creations: @creations }