.content
  .col-md-12.mx-auto
    .card.active
      .card-header.text-center
        %h3.card-title
          Your Rewards
        %h3.description
          Monetize your art.
        = link_to new_reward_path, class: "btn btn-primary btn-round" do
          %i.now-ui-icons.ui-1_simple-add
          New Reward
    .row.mx-auto