.panel-header.panel-header-sm
.content
  .row
    .col-md-12
      .card
        .card-header
          %h4.card-title New Reward
          = link_to rewards_path, class: 'btn btn-sm btn-primary' do
            %span.btn-label
              %i.now-ui-icons.arrows-1_minimal-left
              Back
          %hr
        .card-body
          = form_with model: @reward, html: {class: 'reward_form'} do |form|
            = render partial: 'form', object: form