.panel-header.panel-header-sm
.content
  .row
    = render partial: 'user_card'
    .col-md-8
      .card
        .card-header
          %h5.title Edit Profile
          %hr
        .card-body
          = form_with model: @user, html: {class: 'edit_profile_form'} do |edit_form|
            = render partial: 'edit_form', object: edit_form