= link_to 'Unfollow', unfollow_user_path(user), class: "unfollow-button btn btn-sm btn-primary btn-round #{unfollow_button_class(user: user)}", method: :put, remote: true
= link_to 'Follow', follow_user_path(user), class: "follow-button btn btn-sm btn-primary btn-round #{follow_button_class(user: user)}", method: :put, remote: true