.content
  .row
    .col-md-8.ml-auto.mr-auto
      .card
        .card-header
          .text-center
            %h5.title New Message
          %hr
        .card-body
          = form_for @chat, url: user_chats_path(current_user) do |form|
            .row
              .col-5.mx-auto
                %label.title To:
              .col-7.mx-auto
                .form-group
                  = text_field_tag :receiver, '', class: 'form-control', placeholder: "@username"
                  = text_area_tag :content, '', class: 'form-control'
                  = form.submit "Send"