.content
  .row
    .col-md-8.ml-auto.mr-auto
      .card
        .card-header
          .text-center
            = link_to user_chats_path(current_user) do
              Back To Inbox
            %h5.subtitle
              Coversation with @#{@receiver.username}
          %hr
        .card-body
          #messages
            - if @chat.messages.any?
              = render partial: 'messages/message', collection: @chat.messages.order(id: :asc)
          .row
            .col-12
              = render partial: 'messages/message_form', locals: { message: @message, chat: @chat, receiver: @receiver }