.wrapper
  = render partial: 'stories/partials/header', object: @story
  = render partial: 'stories/partials/body', object: @story
  = render partial: 'stories/partials/user_footer', object: @story
  = render partial: 'stories/partials/comments', object: @story