%footer.footer
  .container-fluid
    %nav
      %ul
        %li
          %a{:href => "#"}
            Contact Us
        %li
          %a{:href => "#"}
            Privacy Policy
    .copyright
      ©
      :javascript
              document.write(new Date().getFullYear())
      , Developed by
      = succeed "." do
        %a{:href => "#", :target => "_blank"} Emerged
      = succeed "." do
        %a{:href => "#", :target => "_blank"} Emerged INC