%nav.navbar.navbar-expand-lg.navbar-absolute.navbar-transparent
  .container
    .navbar-translate
      %a.navbar-brand{"data-placement" => "bottom", :rel => "tooltip", :target => "_blank", :title => "Emerged. Where emerging artists thrive."}
        Emerged
      %button.navbar-toggler{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-bar.bar1
        %span.navbar-toggler-bar.bar2
        %span.navbar-toggler-bar.bar3
    .collapse.navbar-collapse{"data-color" => "orange"}
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "../index.html", :target => "_blank"}
            %i.now-ui-icons.design_app
            %p Components
        %li.nav-item
          %a.nav-link.btn.btn-primary
            %p Some Link