%nav.navbar.navbar-expand-lg.bg-primary.navbar-transparent.navbar-absolute
  .container
    .navbar-wrapper
      .navbar-toggle
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-bar.bar1
          %span.navbar-toggler-bar.bar2
          %span.navbar-toggler-bar.bar3
      %a.navbar-brand Emerged
    #navbar.collapse.navbar-collapse.justify-content-end
      %ul.navbar-nav
        %li.nav-item
          = link_to sign_in_path, class: 'nav-link' do
            %i.now-ui-icons.tech_mobile
            Login
        %li.nav-item
          = link_to sign_up_path, class: 'nav-link' do
            %i.now-ui-icons.tech_mobile
            Register